extends ./layout.pug

block content

 section#one
      .inner
        article
          .content
            header
              h3 Add a Spot
include ./create.pug 
            //- ul.actions
            //-   li
            //-     a.button.alt(href='') Learn More