html
  head
    title Regina skate
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    style
      include ../public/css/styles.css
    script
      include ../public/js/scripts.js
    //- link(rel='stylesheet' href='../pubic/css/styles.css' type='text/css')
    //- block styles
    //- script(src="js/scripts.js")
    //- block scripts
    
  body 
  #a
    header#header
      .inner
        a.logo(href='#a') ReginaSkate
        link(href='https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap' rel='stylesheet')
        nav#nav
          a(href='#a1') Map
          a(href='#a2') post
          a(href='#a3') View Spots
          a(href='#a4') Log In
          a.navPanelToggle(href='#menu')
        span.fa.fa-bars
    block content
          
    section#footer
      .inner

script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
