doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  title Regina Skate
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='main.css')
  style.
    .form-signin {
    width: 40%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #ffffff;
    }
header#header
  .inner
    a.logo(href='index.html') ReginaSkate
    link(href='https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap' rel='stylesheet')
    nav#nav
      a(href='map.page.html') Map
      a(href='post.html') post
      a(href='view.html') View Spots
      a(href='login.html') Log In
a.navPanelToggle(href='#menu')
  span.fa.fa-bars
.container-fluid
  form.form-signin
    h1 Please log in
    label.sr-only(for='inputEmail') Email address
    input#inputEmail.form-control(type='email' placeholder='Email address' required='' autofocus='')
    label.sr-only(for='inputPassword') Password
    input#inputPassword.form-control(type='password' placeholder='Password' required='')
    button.button.alt(type='submit') Sign in
    p
      | Don&apos;t have an account? 
      a(href='register.html')  Create one now.
section#footer(style='width:100%')
  .inner
  footer.footer
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
